.contain-medals{
    background-color: #3b4a41;
    font-family: 'Source Code Pro', monospace;
}
.medals__title{
    display: flex;
    color:  #f7f8f7;
    margin-top: 1rem;
    justify-content: center;
    font-size: 1rem;
    text-shadow: black 0.1em 0.1em 0.1em;
    letter-spacing: 0.1em;
    
}
.medals-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #242d28;
}
.icon__box__medals{
    display: flex;
    justify-content: center;
    
}
.img__skill{
    width: 54px;
    height: 54px;
}
.img__medals{
    width: 150px;
    height: 150px;
}