.contacto__title{
    display: flex;
    color:  #f7f8f7;
    margin-top: 2rem;
    justify-content: center;
    font-size: 2rem;
    text-shadow: black 0.1em 0.1em 0.1em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.12em;
}
.contain-contacto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #36433b;
    width: 100vw;
    padding: 1%;

}
.formcontacto__subtext{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
    letter-spacing: 0.12em;
    text-shadow: black 0.1em 0.1em 0.1em;
    
}
.box-contacto{
    gap: 4rem;
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #354a3d;
    align-items: center;
    margin-top: 1%;
    
}
.container_whassap{
    
    color: #fff;

}
.whassap{
    width: 64px;
}
.formcontacto__subtext{
    
    color: #fff;
    font-weight: 100;
}
.container_email{
    margin-top: 1rem;
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
}
.email{
    width: 64px;
}
.contacto a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-decoration: none;
    
}